body {
background: #ffcccc;
text-align: center;
font-family: Helvetica;
font-size:24px;
}

h1 {
border-style: solid;
border-width: 2px;
border-color: #CD5C5C;
}

img {
width:25%;
}

footer {
position: fixed;
bottom: 0;  
padding: 1%;
font-size:12px;
}
